.comingSoonh1{
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.main {
  background-color: #0f0f0f;
}

.sectionContainer {
  width: 100%;
  margin: 7rem 0;
}

.header {
  display: flex;
  margin: 0 8rem;
  gap: 2rem;
}

.backButton {
  border-radius: 50%;
  background-color: #191a23;
  width: 6rem;
  height: 5.5rem;
  transform: rotate(30deg);
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.rotate {
  transform: rotate(-30deg);
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.title {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 5rem;
  padding: 0 1.5rem;
  line-height: 6.5rem;
  border-radius: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.3rem;
}

.subtitle {
  font-size: 3rem;
  padding: 0 1rem;
  font-weight: 600;
}

.contentBox {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 2.5rem 0;
  /* background-color: red; */
  margin-bottom: 3rem;
}

.box {
  width: 70%;
  background-color: #191a23;
  border-radius: 5rem;
  min-height: 50vh;
  padding: 3rem 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 3rem;
  justify-content: center;
}

.floating {
  position: absolute;
  height: 4rem;
  width: 4rem;
  z-index: 1;
}

.footContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 920px) {
  .header {
    margin: 0 4rem;
  }

  .backButton {
    width: 4.5rem;
    height: 4rem;
    font-size: 0.8rem;
  }

  .title {
    font-size: 3.5rem;
    line-height: 5rem;
  }

  .subtitle {
    font-size: 2.3rem;
  }

  .box {
    padding: 3rem 2rem;
    border-radius: 4rem;
  }
}

@media screen and (max-width: 700px) {
  .sectionContainer {
    margin: 5rem 0;
  }

  .header {
    margin: 0 2rem;
  }
  .backButton {
    width: 4rem;
    height: 3.5rem;
    font-size: 0.7rem;
  }

  .title {
    font-size: 3rem;
    line-height: 4.3rem;
  }

  .subtitle {
    font-size: 2rem;
    padding: 0 0.6rem;
  }

  .box {
    padding: 2rem 1rem;
    border-radius: 3rem;
  }
}

@media screen and (max-width: 530px) {
  .sectionContainer {
    margin: 3.8rem 0;
  }

  .header {
    margin: 0 1rem;
    gap: 1.4rem;
  }

  .backButton {
    width: 3rem;
    height: 2.8rem;
    font-size: 0.6rem;
  }

  .title {
    font-size: 2rem;
    line-height: 3.5rem;
    border-radius: 0.7rem;
    letter-spacing: 0.1rem;
  }

  .subtitle {
    font-size: 1.3em;
    padding: 0 0.6rem;
  }

  .floating {
    display: none;
  }

  .box {
    width: 85%;
  }
}
