.inputcontainer {
  max-width: 1080px;
  margin: 0 5%;
  padding-bottom: 30vh;
}

.roadmap {
  text-align: center;
}

.m_header {
  margin-top: 4vh;
  text-align: center;
  color: #ffffff;
  font-size: 3rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
}

.m_header span {
  color: #61c294;
}

@media only screen and (min-width: 1280px) {
  .inputcontainer {
    max-width: 1280px;
    margin: 0 20%;
  }

  .firstsection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8vh 0;
  }

  .m_header {
    font-size: 4.55rem;
    text-align: left;
    width: 35%;
  }
}

.a_header {
  font-size: 1.65rem;
  color: #fdd549;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.aboutcontainer {
  margin-top: 8vh;
}

.abouttfp {
  margin-top: 2vh;
  color: white;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 0.9rem;
}

@media only screen and (min-width: 1280px) {
  .aboutcontainer {
    margin-top: 0px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }

  .a_header {
    font-size: 4rem;
    text-align: right;
  }

  .abouttfp {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    width: 60%;
    text-align: left;
    line-height: 28px;
  }
}


.badges{
  margin-top: 7vh;
}

.b_header{
  color: #DA714F;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2vh;
}

.b_description{
  color: white;
  font-family: "Poppins", sans-serif;
  text-align: center;

  font-size: 0.9rem;
}

.searchfield{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
}

.inputfield{
  width: 60%;
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 2px 0 0 2px;
}

.btnsubmit{
  padding: 0.5rem 0.75rem;
  color: #1b1b1b;
  font-weight: 600;
  background-color: #DA714F;
  border-radius: 0 2px 2px 0;
  border: none;
}

@media only screen and (min-width: 1280px) {
  .inputfield{
    width: 40%;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 2px 0 0 2px;
  }
  
  .btnsubmit{
    padding: 0.6rem 1rem;
    color: #fdd549;
    font-size: 1.05rem;
    font-weight: 500;
    background-color: #DA714F;
    border: none;
  }
}