.inputcontainer {
  max-width: 1280px;
  margin: 0 5%;
  padding-bottom: 10vh;
}

.roadmap {
  text-align: center;
}

.m_header {
  margin-top: 4vh;
  text-align: center;
  color: #ffffff;
  font-size: 3rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: 800;
}

.m_header span {
  color: #61c294;
}

.subtxt {
  color: white;
  display: flex;
  text-align: left;
  justify-content: center;
  margin-top: -0.1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
}

.m_numbers {
  margin: 0.5rem;
}

.m_numbers span {
  color: #688de2;
  font-weight: 600;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.reg {
  display: block;
  margin: auto;
  margin-top: 1.5rem;
  background-color: #fdd549;
  border-radius: 25px;
  color: #1b1b1b;
  padding: 0.75rem 1.45rem;
  border: none;
  font-weight: 600;
  font-family: "Noto Sans", sans-serif;
}

.discordjoin {
  display: block;
  margin: auto;
  margin-top: 1.5rem;
  background-color: #688de2;
  border-radius: 25px;
  color: #1b1b1b;
  padding: 0.75rem 1.45rem;
  border: none;
  font-weight: 600;
  font-family: "Noto Sans", sans-serif;
}

.notion {
  display: block;
  margin: auto;
  margin-top: 1.5rem;
  background-color: #61c294;
  border-radius: 25px;
  color: #1b1b1b;
  padding: 0.75rem 1.45rem;

  border: none;
  font-weight: 600;
  font-family: "Noto Sans", sans-serif;
}

@media only screen and (min-width: 1280px) {
  .inputcontainer {
    max-width: 1280px;
    display: block;
    margin: auto;
  }

  .buttons {
    display: flex;
    flex-direction: row;
  }

  .discordjoin {
    margin: 0;
    margin-top: 1.5rem;
    font-size: 0.9rem;
  }
  .notion {
    margin: 0;
    margin-top: 1.5rem;
    font-size: 0.9rem;
    margin-left: 1rem;
  }

  .firstsection {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 8vh 0;
  }

  .m_header {
    font-size: 3.75rem;
    text-align: left;
    width: 70%;
  }

  .subtxt {
    justify-content: left;
    font-size: 1.1rem;
  }
}

.a_header {
  font-size: 1.65rem;
  color: #fdd549;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.aboutcontainer {
  margin-top: 8vh;
}

.abouttfp {
  margin-top: 2vh;
  color: white;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 0.9rem;
}

@media only screen and (min-width: 1280px) {
  .aboutcontainer {
    margin-top: 0px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }

  .a_header {
    font-size: 3.75rem;
    text-align: right;
    width: 60%;
  }

  .abouttfp {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    width: 60%;
    text-align: left;
    line-height: 28px;
  }
}

.badges {
  margin-top: 7vh;
}

.b_header {
  margin-top: 8vh;
  color: #da714f;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2vh;
}

.b_description {
  color: white;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 0.9rem;
}

.searchfield {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
}

.inputfield {
  width: 60%;
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 2px 0 0 2px;
}

.btnsubmit {
  padding: 0.5rem 0.75rem;
  color: #1b1b1b;
  font-weight: 600;
  background-color: #da714f;
  border-radius: 0 2px 2px 0;
  border: none;
}

@media only screen and (min-width: 1280px) {
  .b_header {
    margin-top: 12vh;
    font-size: 2.25rem;
  }
  .inputfield {
    width: 40%;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 2px 0 0 2px;
  }

  .btnsubmit {
    padding: 0.6rem 1rem;
    color: #1b1b1b;
    font-size: 1.05rem;
    font-weight: 500;
    background-color: #da714f;
    border: none;
  }
}

/* Yoututbe Section */

.y_header {
  margin-top: 8vh;
  color: #ffffff;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.75rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 2vh;
}

.y_header span {
  color: #61c294;
}

.y_desc {
  color: white;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 3vh;
}

.y_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.y_frame {
  height: 30vh;
  width: 90vw;
}

@media only screen and (min-width: 1280px) {
  .youtube {
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .y_left {
    text-align: left;
  }

  .y_header {
    width: 70%;
    text-align: left;
    font-size: 3.25rem;
  }

  .y_desc {
    font-size: 1rem;
    text-align: left;
    width: 80%;
  }

  .y_frame {
    height: 35vh;
    width: 25vw;
  }
}

/* Github Section */
.g_header {
  margin-top: 8vh;
  color: #ffffff;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.75rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 2vh;
}

.g_header span {
  color: #fdd549;
}

.g_tagline {
  color: white;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 0.9rem;
}

.g_center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.githubjoin {
  display: block;
  margin: auto;
  margin-top: 1.5rem;
  background-color: #fdd549;
  border-radius: 25px;
  color: #1b1b1b;
  padding: 0.75rem 1.45rem;
  border: none;
  font-weight: 600;
  font-family: "Noto Sans", sans-serif;
}

@media only screen and (min-width: 1280px) {
  .g_center {
    margin-top: 3vh;
  }

  .g_header {
    margin-top: 8vh;
    color: #ffffff;
    font-family: "Noto Sans", sans-serif;
    font-size: 3.25rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 2vh;
  }

  .g_tagline {
    font-size: 1rem;
    width: 60vw;
  }
}
