.title {
  color: white;
  font-family: "Poppins", sans-serif;
  line-height: 20px;
  text-align: left;
  font-weight: 500;
}

.nav_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nline{
  border-left: 2px solid white;
  height: 65px;
  margin: 0 1rem;
}
