#hero{
    background-color: transparent;
    height: 98vh;
    position: relative;
    overflow-x: hidden;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 0px 100px rgba(246, 241, 241, 0.1);
}
.bg{
    position: absolute;
    height: 100vh;
    width: 98vw;
    background-image: url("/Images/bg-shape.svg");
    z-index: 0;
    overflow-x: hidden;
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: -120px -700px;
    filter: blur(100px);
    
}
.navBar{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}
.logo{
    color: white;
    display: flex;
    gap: 10px;
    align-items: center;

}
.logo h3{
    width: 100px;
    line-height: 20px;
    font-family: "Poppins", sans-serif;
    font-weight:500;
    font-size: 16px;
}

.heroTextContainer{
    display: flex;
    max-width: 98vw;
    justify-content: center;
    /* gap: 2rem; */
    align-items: start;
    /* background-color: red; */
    /* padding-left: 8vw; */
    /* flex-wrap: wrap; */
    flex-direction: row;
    /* padding: 0 5vw;   */
    /* overflow: hidden; */
    /* background-color: rgb(113, 3, 3); */
    padding-left: 2rem;
    margin-top: 5rem;

    
}
.heroLogotWrapper{
    width: 25%;
    /* background-color: green; */
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
}

.heroTextWrapper{
    display: flex;
    justify-content: start;
    /* background-color: #F36B37; */
    padding-right: 100px;
    /* flex-direction: column; */
    align-items: center;
    width: 80%;
    /* background-color: #F36B37; */
    /* padding-left: 10vw; */
    /* overflow: hidden; */

}
.heroTextContainer .heroLogotWrapper{
    margin-top: 1rem;
    margin-left: 20px;
}
.heroTextContainer .heroTextWrapper img{
    object-fit: contain;
    /* height: 300px; */
    
    /* min-width: 450px; */
}

.textContainer{
    /* width: 100vw; */
    display: flex;
    flex-wrap: wrap;
}
.textContainer .left{
    width: 50%;
    /* background-color: red; */
    /* height: 5vh; */
    display: flex;
    justify-content: center;
    padding-left: 5vw;
    min-width: 360px;
}
.textContainer .left .textWrapper{
    /* background-color: gray; */
    width: 400px;

}
.textContainer .left h2{
    font-size: 5.2rem;
    font-weight: 600;
    line-height: 6rem;
    letter-spacing: 2px;
}
.textContainer .left h2:nth-child(1){
    color: #688DE2;
}
.textContainer .left h2:nth-child(2){
    color: #61C294;
}
.textContainer .left h2:nth-child(3){
    color: #F36B37;
}
.textContainer .right{
    width: 50%;
    /* background-color: green; */
    display: flex;
    justify-content:start;
    align-items: center;
    padding: 1rem;
}
.textContainer .right .textWrapper{
    /* background-color: #F36B37; */
    padding: 1rem;
    padding-top: 3rem;
}
.textContainer .right .textWrapper h3{
    font-size: 2.5rem;
    font-weight: 500;
    color: white;
    text-align: center;
    line-height: 3rem;
    letter-spacing: 0px;
}
.textContainer .right .textWrapper h3 span{
    font-style: italic;
    
    background-position: bottom;
    position: relative;
}
.textContainer .right .textWrapper h3 span::after{
    content: '';
    width: 200px;
    height: 10px;
    /* background-color: red; */
    position: absolute;
    top: 42px;
    left: -10px;
    background-image: url("../../assets/Home/underline.svg");
    background-repeat: no-repeat;
}
.scrollBtnContainer{
    display: flex;
    justify-content: flex-end;
    padding: 0 10vw;
}
.scrollBtnContainer button{
    display: flex;
    gap: 6px;
    align-items: center;
    padding: 8px 10px;
    background-color: #61C294;
    border-radius: 30px;
    rotate: -90deg;
    cursor: pointer;
}
.scrollBtnContainer button img{
    rotate: 90deg;
    width: 12px;
}
#hero .particles img{
    position: absolute;
    z-index: -1;
}
#hero .particles img:nth-child(1){
    top: 50px;
    left: 100px;
}
#hero .particles img:nth-child(2){
    top: 80px;
    right: 120px;
}
#hero .particles img:nth-child(3){
    top: 55%;
    left: 5vw;
}
#hero .particles img:nth-child(4){
    top: 55%;
    right: 80px;
}
#hero .particles img:nth-child(5){
    bottom: 10px;
    right: 20vw;
}
.exploreMoreContainer{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.exploreCircle{
    position: relative;
    width: 150px;
    height: 150px;
    background-color: transparent;
    border-radius: 50%;
    border: 40px solid black;
    /* box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.097); */
    box-sizing: content-box;
    position: absolute;
    top: 84vh;
    /* border-top-color: rgba(255, 255, 255, 0);
    border-left-color:rgba(255, 255, 255, 0); */
    border-color: rgba(255, 255, 255, 0);
    rotate: 45deg;
}

.explorePlay{
    position: absolute;
    top: 34%;
    right: 33%;
    scale: .8;
    rotate: -45deg;
    background-color: black;
    box-shadow: 0px 0px 20px 20px black;

}
.exploreRotate{
    animation: rotate infinite linear 5s;
}

.regNowBtn{
    color: rgb(31, 29, 29);
    background-color: #688DE2;
    padding: 1rem 2rem;
    border-radius: 8px;
    margin-top: 4rem;
    font-weight: 600;
}
.regNowBtn:hover{
    opacity: .8;
}
@keyframes rotate{
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
}
@media only screen and (max-width: 1200px) {
    #hero .particles img:nth-child(3){
        top: 80%;
        left: 5vw;
    }
}
@media only screen and (max-width: 850px) {
    .bg{
        /* background-size: 200%; */
        background-position: 100px 100px;
    }
    #hero{
        justify-content: space-between;
        height:100vh;

    }
    .heroTextContainer{
        flex-wrap: wrap;
        padding: 0;
        margin-top: unset;
    }
    .heroLogotWrapper{
        padding-top: 6rem;
    }
    .heroTextWrapper{
        width: 95%;
        justify-content: center;
        overflow: hidden;
        padding: 0;
    }
    .heroTextWrapper img{
       /* scale: 1.1; */
    }
    .textContainer .left h2{
        font-size: 5rem;
        line-height: 5rem;
    }
    #hero .particles img:nth-child(1){
        top: 50px;
        left: 100px;
    }
    #hero .particles img:nth-child(2){
        top: 80px;
        right: 120px;
    }
    #hero .particles img:nth-child(3){
      top: 48vw;
    }
    #hero .particles img:nth-child(4){
        top: 55%;
        right: 80px;
    }
    #hero .particles img:nth-child(5){
        bottom: 0px;
        right: 0;
    }
    .exploreCircle{
        top: 90vh;
    }
  }

  @media only screen and (max-width: 720px) {
    .bg{
        background-position: 100px 100px;
    }
    .textContainer .left{
        width: 100%;
        justify-content: flex-start;
        margin-top: 2rem;
    }
    .textContainer .left h2{
        font-size: 4rem;
    }
    .textContainer .right{
        width: 100%;
        justify-content:center;
    }
    .scrollBtnContainer{
        display: none;
    }
    #hero .particles img:nth-child(3){
        top:unset;
        left: unset;
        right: 25%;
        bottom: 25%;
        scale: 1.2;
      }
      #hero .particles img:nth-child(5){
        bottom: 10px;
        right: unset;
        left: -20px;
        scale: .4;
    }

}
@media only screen and (max-width: 520px) {
    .bg{
        background-size: 300%;
        background-position:0;
        filter: blur(50px);
    }
    .navBar .logo{
        scale: .6;
    }
    .textContainer .left h2{
        font-size: 3.5rem;
        line-height: 4rem;
    }
    .textContainer .right .textWrapper h3{
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
    .textContainer .right .textWrapper h3 span::after{
        width: 100px;
        top: 25px;
        left: -5px;
    }
    #hero .particles img:nth-child(1){
        top: 5px;
        left: 10px;
        scale: .8;
    }
    #hero .particles img:nth-child(2){
        top: 80px;
        right: 10px;
        scale: .8;
    }
    #hero .particles img:nth-child(3){
        top: 38%;
        left: unset;
        right: 20%;
        scale: .8;
    }
    #hero .particles img:nth-child(4){
        top: 65%;
        right: 10%;
        scale: .8;
    }
    #hero .particles img:nth-child(5){
        bottom: 10px;
        right: unset;
        left: -20px;
        scale: .4;
    }
    .exploreCircle{
        top: 85vh;
    }
}