.levelCard{
    max-width: 450px;
    min-height: 220px;
    background-color: #B56FCF;
    border-radius: 1.5rem;
    overflow: hidden;
}
.levelTop{
    height: 70%;
    /* background-color: green; */
    display: flex;
}
.levelLeft{
    width: 70%;
    /* background-color: aqua; */
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.levelLeft h1{
    font-size: 1.8rem;
    font-weight: 600;
}
.levelLeft p{
    font-size: 1.8rem;
    font-weight: 200;
    line-height: 2rem;
}
.levelRight{
    width: 30%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
}
.levelRight img{
    object-fit: contain;
    height: 100%;
}
.levelBottom{
    height: 30%;
    /* background-color: yellow; */
    border-top: 2px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}
.levelBottom button{
    background-color: transparent;
    /* padding: 1rem; */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
.levelBottom button img{
    rotate: -90deg;
}
.levelCard{
    flex: 1 1 calc(50% - 20px);
}
  
  @media only screen and (max-width: 850px) {
    .levelCard {
      flex: 1 1 100%; /* One card per row */
    }
  }
