#wallOfFame{
    background-color: #161618;  
    display: flex;
    justify-content: center;
    padding: 5rem 8vw;
    margin-top: 8rem;
}
.wallOfFameContainer{
    /* height: 75vh; */
    width: 100%;
    background-color: black;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    padding: 5vw 0;
}
.wallLeft{
    width: 48%;
    /* background-color: red; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wallLeft h1{
    font-family: "paytone one",sans-serif;
    font-size: 4.5vw;
    color: white;
    position: relative;
}
.wallLeft h1 span{
    font-family: "paytone one",sans-serif;
    position: relative;
}
.wallLeft h1 span::after{
    position: absolute;
    content: '';
    width: 13vw;
    height: 2vw;
    bottom: -13px;
    left: -10px;
    background-image: url(../../assets/WallOfFame/walltextunderline.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.wallLeft h1::before{
    content: '';
    position: absolute;
    width: 11vw;
    height: 15vw;
    top: -3.575vw;
    left: -1.3vw;
    background-image: url(../../assets/WallOfFame/shimmering-stars.svg);
    background-position: center;
    background-size: contain;
}
.wallRight{
    width: 50%;
    min-width: 360px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 4rem;
}
.wallImgContainer{
    max-width:570px;
    width: 40vw;
    height: 25vw;
    max-height: 363px;
    border-radius: 25px;
    background-image: url(../../assets//WallOfFame/learners-bg.png);
    background-position:center;
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgba(129, 140, 150, 0.28);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 0 2rem 0 3rem;
    position: relative;
}
.wallImgContainer img{
    transition: .2s;
}
.wallImgContainer img:hover{
    scale: .98;
}
.wallImgContainer h2{
    font-size: 1.625vw;
    color: #F4F4F4;
    text-align: center;
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    letter-spacing: 1px;
    font-weight: 500;
    /* background-color: red; */
}
@media only screen and (max-width: 830px) {
    #wallOfFame{
        padding: 2rem 5vw;
        margin-top: 4rem;
    }
    .wallOfFameContainer{
        /* background-color: red; */
        gap: 1rem;
        overflow: hidden;
    }
    .wallLeft{
        width: 100%;
        height: 15%;
        /* background-color: yellow; */
    }
    .wallLeft h1{
        font-size: 11vw;
    }
    .wallLeft h1::before{
        width: 18vw;
        height: 20vw;
        /* background-color: #dd16165d; */
        background-size: 80%;
    }
    .wallLeft h1 span::after{
        width: 31vw;
        height: 4vw;
        bottom: -8px;
        
    }
    .wallRight{
        width: 100%;
        height: 85%;
        justify-content: center;
        padding-right: unset;
        min-width: unset;
    }
    .wallImgContainer{
        width:80vw;
        height: 46vw;
        padding: 0 2vw 0 3vw;

    }
    .wallImgContainer img{
        
    }
    .wallImgContainer h2{
        font-size: 3vw;
        bottom: 2.5vw;

    }
}