.sectionContainer {
  width: 100%;
  margin: 7rem 0;
}

.header {
  display: flex;
  margin: 0 8rem;
  gap: 2rem;
}

.backButton {
  border-radius: 50%;
  background-color: #191a23;
  width: 6rem;
  height: 5.5rem;
  transform: rotate(30deg);
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.rotate {
  transform: rotate(-30deg);
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.title {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 5rem;
  padding: 0 1.5rem;
  line-height: 6.5rem;
  border-radius: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.3rem;
}

.subtitle {
  font-size: 3rem;
  padding: 0 1rem;
  font-weight: 600;
}

.contentBox {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 2.5rem 0;
}

.box {
  width: 70%;
  background-color: #191a23;
  border-radius: 5rem;
  min-height: 50vh;
  padding: 3rem 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 4rem;
}

.floating {
  position: absolute;
  height: 4rem;
  width: 4rem;
  z-index: 1;
}

.footContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
